<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831195346659-gvmdf8bn2bjjo1b7ru4q8qu46qphiect.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831195346659-gvmdf8bn2bjjo1b7ru4q8qu46qphiect</string>
	<key>API_KEY</key>
	<string>AIzaSyC8fM33239svuXn1WQhSveuer9Mcu-KPYc</string>
	<key>GCM_SENDER_ID</key>
	<string>831195346659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommmerce1</string>
	<key>PROJECT_ID</key>
	<string>shopcart-7cf1d</string>
	<key>STORAGE_BUCKET</key>
	<string>shopcart-7cf1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831195346659:ios:32f889168041d2f58ff7d6</string>
	<key>DATABASE_URL</key>
	<string>https://shopcart-7cf1d-default-rtdb.firebaseio.com</string>
</dict>
</plist>